@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: local("Gilroy"),
       url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: local("Gilroy"),
       url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans"),
       url("../fonts/opensanslight.woff2") format("woff2"),
       url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"),
       url("../fonts/opensans.woff2") format("woff2"),
       url("../fonts/opensans.woff") format("woff");
}

:root {
  --basic-black: #000000;
  --basic-black-rgb: 0, 0, 0;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --basic-grey-whisper: #EBEBEB;
  --basic-grey-whisper-light: #EAEAEA;
  --basic-grey-gainsboro: #D9D9D9;
  --basic-grey-gainsboro-light: #DCDCDC;
  --basic-grey-silver: #C4C4C4;
  --basic-white-smoke: #F2F2F2;
  --basic-white: #FFFFFF;
  --basic-white-rgb: 255, 255, 255;
  --special-yellow-dark: #F0C52E;
  --special-yellow-light: #F7E296;
  --special-yellow-light-rgb: 247, 226, 150;
  --special-green: #91C92F;
  --status: #F6DADA;;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page {
  height: 100%;
}

.page-body {
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-family: "Gilroy", Arial, sans-serif;
  text-align: left;
  min-width: 1200px;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  /* Grid */
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page-body a {
  text-decoration: none;
  color: var(--basic-black);
}

.page-body img {
  max-width: 100%;
  height: auto;
}

.reset-style {
  list-style: none;
}

.container {
  box-sizing: border-box;
  width: 1160px;
  margin: 0 auto;
}

.main-header {
  box-sizing: border-box;
  padding-right: 60px;
  padding-left: 60px;
  background-image: linear-gradient(to bottom,
    var(--basic-white) 20px,
    var(--special-yellow-light) 20px,
    var(--special-yellow-light) 100%);
  /*Grid*/
  display: grid;
}

.catalog-header {
  margin-bottom: 44px;
  padding-bottom: 30px;
}

.main-header .main-logo {
  margin-bottom: 25px;
}

.main-logo {
  box-sizing: border-box;
}

.main-logo:hover {
  opacity: 0.6;
}

.main-logo:active {
  opacity: 0.3;
}

.main-menu-list {
  box-sizing: border-box;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
}

.main-menu-columns {
  /*Grid*/
  display: grid;
  grid-template-columns: 540px 281px 138px 81px;
}

.main-nav {
  box-sizing: border-box;
  margin: 0 auto;
}

.main-nav-list {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-nav-columns {
  /*Grid*/
  display: grid;
  grid-template-columns: 540px 159px 222px 119px;
}

.main-menu-item {
  /*Flex*/
  display: flex;
}

.main-menu-link {
  /*Flex*/
  display: flex;
  align-items: center;
}

.user-name {
  margin-right: 22px;
}

.logout {
  opacity: 0.3;
}

.main-menu-link svg {
  margin-right: 11px;
  padding-top: 1px;
}

/*perfect pixel разные отступы по макету*/
.compare svg {
  margin-right: 13px;
}

.menu-item-hover:hover {
  opacity: 0.6;
}

.menu-item-hover:active {
  opacity: 0.3;
}

.search {
  position: relative;
}

.modal-search {
  box-sizing: border-box;
  top: -22px;
  position: absolute;
}

.modal-search svg {
  position: absolute;
  left: 0;
  bottom: 9px;
}

.input-search {
  display: block;
  box-sizing: border-box;
  width: 440px;
  min-height: 50px;
  border: none;
  outline: none;
  background: transparent;
  padding-left: 38px;
  padding-top: 15px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  overflow: auto;
}

.button-search {
  box-sizing: border-box;
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 84px;
  min-height: 50px;
  background-color: transparent;
  outline: none;
  border: 2px solid var(--basic-black);
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.input-search::placeholder {
  color: rgba(var(--basic-black-rgb), 0.3);
}

.input-search:hover::placeholder {
  color: rgba(var(--basic-black-rgb), 0.6);
}

.input-search:focus {
  border-bottom: 2px solid var(--basic-black);
  border-right: 2px solid var(--basic-black);
}

.input-search:focus ~ .button-search {
  display: block;
}

.button-search:hover {
  color: var(--basic-white);
  border: none;
  background-color: var(--basic-black);
  box-shadow: 0px 4px 4px rgba(var(--basic-black-rgb), 0.25);
}

.button-search:active {
  display: block;
  border: none;
  background-color: var(--basic-black);
  color:rgba(var(--basic-white-rgb), 0.3);
  box-shadow: none;
}

.main-nav-item {
  position: relative;
}

.main-nav-link {
  display: block;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.main-nav-link:hover {
  color: rgba(var(--basic-black-rgb), 0.6);
}

.main-nav-link:active {
  color: rgba(var(--basic-black-rgb), 0.3);
}

.catalog {
  padding-bottom: 20px;
  width: 260px;
}

.catalog-link::after {
  display: inline-block;
  content: "";
  width: 22px;
  min-height: 22px;
  background: url("../img/icon_plus.svg") no-repeat;
  margin-left: 14px;
  vertical-align: top;
}

.submenu {
  box-sizing: border-box;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  padding-bottom: 42px;
  position: absolute;
  padding-top: 30px;
  width: 1160px;
  left: -60px;
  padding-left: 60px;
  z-index: 1;
  background-color: var(--special-yellow-light);
}

.submenu-columns {
  /*Grid*/
  display: none;
  grid-template-columns: max-content max-content max-content;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 64px;
  row-gap: 16px;
}

.submenu-row-first {
  grid-row: 1 / 2;
}

.submenu-row-second {
  grid-row: 2 / 3;
}

.submenu-row-last {
  grid-row: 3 / 4;
}

.catalog:hover .submenu-columns {
  /*Grid*/
  display: grid;
}

.submenu-column {
  /*Grid*/
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 20px;
}

.submenu-link {
  display: block;
}

.submenu-link:hover {
  opacity: 0.6;
}

.submenu-link:active {
  opacity: 0.3;
}

.popular-slide-list {
  margin: 0;
  padding: 0;
}

.popular-slider {
  background-image: linear-gradient(to bottom,
    var(--special-yellow-light) 143px,
    transparent 143px,
    transparent 100%);
  padding-top: 16px;
  /*overflow: hidden;*/
  margin-bottom: 112px;
  position: relative;
}

.popular-slide-list {
  padding-right: 60px;
  display: inline-block;
  /*width: 300%;*/
}

.popular-slide-item {
  float: left;
  /*Grid*/
  display: none;
  grid-template-columns: 560px 560px;
  column-gap: 40px;
}

.slide-image-wrapper img {
  display: block;
  margin: 0 auto;
}

.popular-slide-column {
  padding-right: 60px;
}

.popular-slide-row-wrapper {
  position: relative;
  width: 500px;
  min-height: 200px;
  margin-bottom: 34px;
}

.popular-slide-number {
  font-weight: 800;
  font-size: 179px;
  line-height: 170px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  text-align: right;
  color: var(--basic-white);
  position: absolute;
  top: 8px;
  width: 510px;
  /*Flex*/
  display: flex;
  justify-content: space-between;
}

.popular-slide-number::before {
  display: inline-block;
  content: "";
  width: 100px;
  height: 7px;
  background-color: var(--basic-white);
  margin-top: 25px;
}

.slide-image-wrapper {
  position: relative;
}

/*perfect pixel*/
.slide-selfy .popular-slide-number {
  right: -13px;
}

/*perfect pixel*/
.slide-selfy .popular-slide-number::before {
  margin-left: -3px;
}

/*perfect pixel*/
.slide-fitness img {
  position: absolute;
  top: 25px;
  left: 116px;
}

/*perfect pixel*/
.slide-fitness .popular-slide-number {
  right: -6px;
}

/*perfect pixel*/
.slide-fitness .popular-slide-number::before {
  margin-left: 3px;
}

/*perfect pixel*/
.slide-dron img {
  position: absolute;
  top: 81px;
  left: 30px;
}

/*perfect pixel*/
.slide-dron .popular-slide-number {
  right: -7px;
}

/*perfect pixel*/
.slide-dron .popular-slide-number::before {
  margin-left: 3px;
}

.popular-slide-caption {
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: -8px;
  left: 0;
}

.popular-slide-text {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  padding: 0;
  margin: 0;
  margin-bottom: 51px;
}

.slide-link {
  padding-right: 41px;
  padding-left: 44px;
  margin-bottom: 51px;
}

.popular-slide-details {
  padding: 0;
  margin: 0;
  /*Grid*/
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: auto 1fr;
  column-gap: 62px;
  row-gap: 15px;
}

.popular-slide-details dt {
  grid-row: 1 / 2;
}

.popular-slide-details dd {
  grid-row: 2 / 3;
}

.popular-slide-show {
  /*Grid*/
  display: grid;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-align: center;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding-bottom: 9px;
  padding-top: 9px;
  background-image: linear-gradient(to bottom,
    transparent 40%,
    var(--special-yellow-dark) 40%,
    var(--special-yellow-dark) 60%,
    transparent 60%);
  background-color: transparent;
}

.button:hover {
  background: var(--special-yellow-dark);
}

.button:active {
  background-color: var(--special-yellow-dark);
  color: rgba(var(--basic-black-rgb), 0.3);
}

.popular-slide-details {
  font-weight: 300;
}

.popular-slide-details dt {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.popular-slide-details dd {
  font-size: 13px;
  line-height: 15px;
  margin-left: 1px;
  letter-spacing: 0.1em;
}

.popular-slider-controls {
  position: absolute;
  right: 88px;
  bottom: 141px;
  width: 72px;
  /*Flex*/
  display: flex;
  justify-content: space-between;
}

.slide-control {
  display: block;
  outline: none;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid var(--basic-black);
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.slide-check {
  box-shadow: 0 0 0px 2px var(--basic-white) inset, 0 0 0px 3px var(--basic-black) inset;
}

.slide-control:active {
  box-shadow: 0 0 0px 2px var(--basic-white) inset, 0 0 0px 3px var(--basic-black) inset;
}

.categories {
  margin-bottom: 64px;
}

.categories-list {
  padding: 0;
  /*Flex*/
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.categories-link {
  display: inline-block;
}

.categories-svg-wrap {
  box-sizing: border-box;
  background-color: var(--special-yellow-light);
  width: 160px;
  height: 160px;
  margin-bottom: 38px;
  /*Flex*/
  display: flex;
  justify-content: center;
  align-items: center;
}

/*один эл-т не центрирован в боксе, поэтому для perfect pixel отдельный отступ*/
.monopod-align {
  padding-top: 8px;
}

.categories-link h3 {
  margin: 0;
  padding: 0;
  width: 160px;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.categories-link:hover .categories-svg-wrap {
  background-color: var(--special-yellow-dark);
}

.categories-link:active path {
  opacity: 0.3;
}

.categories-link:active h3 {
  color: rgba(var(--basic-black-rgb), 0.3);
}

.advantages-slider {
  min-height: 408px;
  background-image: linear-gradient(to bottom,
    transparent 120px,
    var(--basic-grey-light) 120px,
    var(--basic-grey-light) 100%);
  margin-bottom: 91px;
}

.advantages-inner {
  /*Grid*/
  display: grid;
  grid-template-columns: 300px 760px;
  column-gap: 100px;
}

.advantages-slider-controls {
  width: 284px;
  padding-top: 20px; /*примерно*/
  /*Flex*/
  display: flex;
  justify-content: space-between;
}

.advantages-slider-controls::after {
  display: block;
  content: "";
  width: 7px;
  min-height: 320px;
  background-color: var(--basic-black);
}

.controls-inner {
  padding-top: 81px;
}

.button-wrap {
  width: 277px;
  margin-bottom: 20px;
}

/*perfect pixel разные отступы по макету*/
.button-wrap:nth-child(2) {
  margin-bottom: 22px;
}

.current {
  background: var(--basic-black);
}

.current .advantages-button {
  color: var(--special-yellow-light);
  background: var(--basic-black);
}

.delivery {
  padding-left: 19px;
  padding-right: 19px;
}

.warranty {
  padding-left: 25px;
  padding-right: 22px;
}

.credit {
  padding-left: 39px;
  padding-right: 34px;
}

.advantages-button:active {
  color: var(--special-yellow-light);
  background: var(--basic-black);
}

.advantages-slider-list {
  margin: 0;
  padding: 0;
  padding-top: 91px;
}

.advantages-slide {
  display: none;
  position: relative;
  /*Flex*/
  justify-content: space-between;
}

.advantages-slide-wrapper {
  width: 574px;
}

.advantages-slide::after {
  display: block;
  content: "";
}

.slide-delivery::after {
  width: 138px;
  height: 164px;
  background: url("../img/delivery.png") no-repeat;
}

.slide-warranty::after {
  width: 171px;
  height: 195px;
  background: url("../img/warranty.png") no-repeat;
  position: absolute;
  right: -16px;
  top: -17px;
}

.slide-credit::after {
  width: 156px;
  height: 188px;
  background: url("../img/credit.png") no-repeat;
  top: -23px;
  position: absolute;
  right: 8px;
}

.advantages-slide h3 {
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.advantages-slide p {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1em;
  margin: 0;
  padding: 0;
}

.show {
  /*Flex*/
  display: flex;
}

.brands {
  margin-bottom: 85px;
}

.brands-list {
  padding: 0;
  /*Flex*/
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.brands-link {
  display: block;
  width: 260px;
  min-height: 100px;
}

.brands-link img {
  object-fit: contain;
}

.dji:hover, .dji:active {
  background: url("../img/logo_dji_color.png") no-repeat;
  background-size: contain;
}

.spgadgets:hover, .spgadgets:active {
  background: url("../img/logo_spgadgets_color.png") no-repeat;
  background-size: contain;
}

.gopro:hover, .gopro:active {
  background: url("../img/logo_gopro_color.png") no-repeat;
  background-size: contain;
}

.vive:hover, .vive:active {
  background: url("../img/logo_vive_color.png") no-repeat;
  background-size: contain;
}

.index-columns {
  margin-bottom: 77px;
  /*Grid*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.about-us::before {
  display: block;
  content: "";
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
  margin-bottom: 50px;
}

.about-us h2 {
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.about-us p {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  margin: 0;
  padding: 0;
  width: 473px;
  margin-bottom: 40px;
}

.about-us-row {
  margin-bottom: 69px;
}

.about-us-row span {
  text-transform: uppercase;
}

.about-us-row p {
  margin-bottom: 60px;
}

.transport-companies-list {
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  margin: 0;
  padding: 0;
}

.transport-companies-list li:not(:last-child) {
  margin-bottom: 15px;
}

/*perfect pixel разные отступы по макету между элементами*/
.transport-companies-list li:nth-child(2) {
  margin-bottom: 14px;
}

.transport-companies-list li::before {
  display: inline-block;
  box-sizing: border-box;
  content: "";
  width: 8px;
  height: 8px;
  border: 2px solid var(--basic-grey-light);
  border-radius: 50%;
  margin-right: 25px;
}

.about-us a {
  display: inline-block;
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 19px;
}

.contacts::before {
  display: block;
  content: "";
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
  margin-bottom: 50px;
}

.contacts h2 {
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.contacts p {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  margin: 0;
  padding: 0;
  width: 510px;
  margin-bottom: 40px;
}

.contacts-map-link {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-bottom: 72px;
}

.modal {
  position: fixed;
  top: 20px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 960px;
  height: 550px;
  box-shadow: 0 5px 10px 0px var(--basic-grey);
  box-sizing: border-box;
}

.modal-map {
  display: none;
}

.modal-map iframe {
  width: 100%;
  min-height: 560px;
}

.modal-close {
  width: 55px;
  height: 55px;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 50%;
  background: url("../img/icon_cross.svg") no-repeat;
  background-position: center;
  background-color: rgba(var(--special-yellow-light-rgb), 0.5);
  position: absolute;
  right: 20px;
  top: 26px;
  cursor: pointer;
}

.modal-close:hover {
  background-color: var(--special-yellow-light);
}

.modal-close:active {
  background-color: rgba(var(--special-yellow-light-rgb), 0.3);
}

.modal-contact {
  box-sizing: border-box;
  padding-top: 97px;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 60px;
  background-color: var(--basic-white);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  display: none;
}

.contact-form-inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.contact-user-wrap {
  width: 360px;
  /*Flex*/
  display: flex;
  flex-direction: column;
}

.contact-user-wrap label {
  margin-bottom: 10px;
}

.contact-user-wrap input {
  box-sizing: border-box;
  min-height: 50px;
  background-color: var(--basic-white-smoke);
  border: none;
  padding-bottom: 15px;
  padding-top: 16px;
  padding-left: 20px;
  overflow: hidden;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: rgba(var(--basic-black-rgb) 0.4);
}

.contact-user-wrap input:hover {
  background-color: var(--basic-grey-whisper-light);
}

.contact-user-wrap input:focus {
  background-color: transparent;
  outline: none;
  border: 2px solid var(--special-yellow-dark);
  color: var(--basic-dark);
}

.contact-user-wrap input:invalid {
  border: none;
  outline: none;
  background-color: var(--status);
}

.contact-field-wrap {
  width: 100%;
  margin-bottom: 42px;
  /*Flex*/
  display: flex;
  flex-direction: column;
}

.contact-field-wrap label {
  margin-bottom: 10px;
}

.contact-field-wrap textarea {
  box-sizing: border-box;
  min-height: 167px;
  background-color: var(--basic-white-smoke);
  border: none;
  padding-top: 16px;
  padding-left: 20px;
  overflow: hidden;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: rgba(var(--basic-black-rgb) 0.4);
}

.contact-field-wrap textarea:hover {
  background-color: var(--basic-grey-whisper-light);
}

.contact-field-wrap textarea:focus {
  background-color: transparent;
  outline: none;
  border: 2px solid var(--special-yellow-dark);
  color: var(--basic-dark);
}

.contact-form-button {
  padding-left: 34px;
  padding-right: 35px;
  background-image: linear-gradient(to bottom, transparent 40%, var(--special-yellow-light) 40%, var(--special-yellow-light) 60%, transparent 60%);
  background-color: transparent;
}

.contact-form-button:hover {
  background: var(--special-yellow-light);
}

.contact-form-button:active {
  background-color: var(--special-yellow-light);
  color: rgba(var(--basic-black-rgb), 0.3);
}


.contacts .button {
  display: inline-block;
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 38px;
}

.show-modal {
  display: block;
}

.main-catalog-caption {
  padding-right: 60px;
  padding-left: 60px;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.breadcrumbs {
  padding-right: 60px;
  padding-left: 60px;
  margin-bottom: 50px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  /*Flex*/
  display: flex;
}

.breadcrumbs a {
  color: rgba(var(--basic-black-rgb), 0.3);
  padding-right: 14px;
  /*Flex*/
  display: flex;
  align-items: center;
 }

 .breadcrumbs-item:not(:last-child) a::after {
   content: "";
   width: 12px;
   height: 13px;
   background: url("../img/icon_arrow_nav.png") no-repeat;
   margin-left: 15px;
 }

.breadcrumbs a:hover {
  color: rgba(var(--basic-black-rgb), 0.6);
}

.breadcrumbs a:active {
  color: rgba(var(--basic-black-rgb), 0.1);
}

.products-wrapper {
  margin: 0 auto;
  height: 100%;
  background-image: linear-gradient(to right,
    var(--basic-grey-light) 30%,
    var(--basic-white) 30%,
    var(--basic-white) 100%);
  /*Grid*/
  display: grid;
  grid-template-rows: min-content 1fr;
}

.caption-columns-wrapper {
  background-image: linear-gradient(to right,
    var(--basic-grey-gainsboro) 30%,
    var(--basic-grey-light) 30%,
    var(--basic-grey-light) 100%);
  min-height: 70px;
}

.caption-columns {
  box-sizing: border-box;
  padding-left: 60px;
  /*Flex*/
  display: flex;
}

.filter-caption-wrapper {
  box-sizing: border-box;
  width: 268px;
  min-height: 70px;
  background-color: var(--basic-grey-gainsboro);
  padding-top: 25px;
}

.sort {
  box-sizing: border-box;
  width: 832px;
  padding-left: 72px;
  /*Flex*/
  display: flex;
  justify-content: space-between;
}

.sort-caption {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-right: 74px;
}

.sort-column {
  display: flex;
  padding-top: 25px;
}

.sort-list-category {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin: 0;
  padding: 0;
  /*Flex*/
  display: flex;
}

.sort-link-category {
  margin-right: 30px;
  opacity: 0.3;
}

.sort-link-category:hover {
  opacity: 0.6;
}

.sort-link-category:active {
  opacity: 1;
}

.sort-list-order {
  display: flex;
  align-items: center;
}

.sort-list-order li:not(:last-child) {
  margin-right: 18px;
}

.sort-link-order {
  display: inline-block;
  width: 17px;
  height: 15px;
}

.sort-up {
  background: url("../img/icon_up_dir.svg") no-repeat;
  opacity: 0.2;
}

.sort-down {
  background: url("../img/icon_down_dir.svg") no-repeat;
}

.enabled {
  opacity: 1;
}

.sort-link-order:hover {
  opacity: 0.4;
}

.sort-link-order:active {
  opacity: 1;
}

.column-wrapper {
  box-sizing: border-box;
  padding-left: 60px;
  /*Flex*/
  display: flex;
}

.filter {
  box-sizing: border-box;
  width: 268px;
  padding-top: 70px;
  background-color: var(--basic-grey-light);
  /*Flex*/
  display: flex;
}

.filter-column {
  width: 200px;
  box-sizing: border-box;
}

.filter-caption {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.filter-inner fieldset {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 37px;
}

.filter-inner .filter-bluetooth-wrap {
  margin-bottom: 42px;
}

.filter-inner legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
}

.filter-inner legend::before {
  display: block;
  content: "";
  width: 200px;
  height: 2px;
  background-color: var(--basic-black);
  margin-bottom: 14px;
}

.range-controls {
  box-sizing: border-box;
  width: 200px;
  min-height: 45px;
  position: relative;
  padding-top: 9px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(var(--basic-black-rgb), 0.2);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--special-green);
}

.toggle-wrap {
  box-sizing: border-box;
  position: absolute;
  top: 0;
}

.toggle {
  margin-bottom: 6px;
}

.toggle-wrap p {
  padding: 0;
  margin: 0;
}

/*perfect pixel*/
.toggle-max p {
  margin-left: -16px;
}

.range-controls .toggle {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  padding: 0;
  border-radius: 50%;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-grey-silver);
  box-shadow: 0px 2px 2px rgba(var(--basic-black-rgb), 0.18);
  cursor: pointer;
}

.range-controls .toggle-max {
  left: 114px;
}

.price-controls p {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.filter-color-wrap {
  margin-bottom: 37px;
}

.filter-color {
  margin: 0;
  padding: 0;
}

.filter-color-item:not(:last-child) {
  margin-bottom: 15px;
}

.filter-color-input {
  display: none;
}

.filter-color-label {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}

.filter-color-label::before {
  box-sizing: border-box;
  content: "";
  width: 24px;
  height: 24px;
  border: 2px solid var(--basic-black);
  border-radius: 2px;
  margin-right: 18px;
}

.filter-color-input:checked + .filter-color-label::before {
  content: url("../img/checkbox_on.svg");
  border: none;
}

.filter-color-input:disabled + .filter-color-label {
  opacity: 0.3;
}

.filter-color-input:not(:disabled) + .filter-color-label:hover::before {
  opacity: 0.6;
}

.filter-color-input:not(:disabled) + .filter-color-label:active::before {
  opacity: 1;
}

.filter-bluetooth {
  margin: 0;
  padding: 0;
}

.filter-bluetooth-item:not(:last-child) {
  margin-bottom: 15px;
}

.filter-bluetooth-input {
  display: none;
}

.filter-bluetooth-label {
  box-sizing: border-box;
  cursor: pointer;
  /*Flex*/
  display: flex;
  align-items: center;
}

.filter-bluetooth-label::before {
  box-sizing: border-box;
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid var(--basic-black);
  margin-right: 16px;
}

.filter-bluetooth-input:checked + .filter-bluetooth-label::before {
  content: url("../img/radio_on.svg");
  border: none;
}

.filter-bluetooth-input:disabled + .filter-bluetooth-label {
  opacity: 0.25;
}

.filter-bluetooth-input:not(:disabled) + .filter-bluetooth-label:hover::before {
  opacity: 0.6;
}

.filter-bluetooth-input:not(:disabled) + .filter-bluetooth-label:active::before {
  opacity: 1;
}

.apply {
  min-height: 40px;
  padding-left: 37px;
  padding-right: 43px;
}

.active {
  opacity: 1;
}

.products {
  box-sizing: border-box;
  width: 832px;
  padding-top: 70px;
  padding-left: 72px;
  /*Flex*/
  display: flex;
  flex-direction: column;
}

.products-list {
  margin: 0;
  padding: 0;
  padding-bottom: 39px;
  /*Grid*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 47px;
}

.product {
  position: relative;
}

.product-image {
  margin-bottom: 27px;
  object-fit: contain;
  background-color: var(--basic-grey-light);
}

.new::after {
  display: block;
  content: "";
  width: 62px;
  height: 62px;
  background-color: transparent;
  background: url("../img/shape_new.svg") no-repeat;
  background-position: center;
  position: absolute;
  right: 29px;
  top: 29px;
}

.product-description-wrap {
  width: 361px;
  position: relative;
  /*Flex*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.product-description {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0;
}

.product-description h3 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  width: 270px;
}

.product p {
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 1px;
  top: 2px;
}

.product-buttons-wrap {
  display: none;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  width: 360px;
  min-height: 380px;
  background: rgba(var(--basic-white-rgb), 0.25);
  padding-top: 170px;
  /*Flex*/
  flex-direction: column;
  align-items: center;
}

.button-addtocart {
  box-sizing: border-box;
  padding-left: 37px;
  padding-right: 38px;
  margin-bottom: 18px;
  background-color: transparent;
}

.button-compare {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  opacity: 0.5;
  outline: none;
  border: none;
  background-color: transparent;
}

.button-compare:hover {
  opacity: 1;
}

.button-compare:active {
  opacity: 0.2;
}

.product:hover .product-buttons-wrap {
  display: flex;
}

.products-pages {
  box-sizing: border-box;
  min-height: 70px;
  background-color: var(--basic-grey-whisper);
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 78px;
  padding: 0;
  /*Flex*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pages-numbers {
  margin: 0;
  padding: 0;
  margin-left: 8px; /*perfect pixel*/
  /*Flex*/
  display: flex;
}

.pages-numbers li:not(:last-child) {
  margin-right: 30px;
}

.page-control {
  min-height: 70px;
  padding-left: 30px;
  padding-right: 29px;
  /*Flex*/
  display: flex;
  align-items: center;
}

.products-pages a {
  opacity: 0.3;
}

.products-pages a:hover {
  opacity: 0.6;
}

.products-pages a:active {
  opacity: 1;
}

.page-active a {
  opacity: 1;
}

.page-control a {
  opacity: 1;
}

.page-control a:hover {
  opacity: 1;
}

.page-control a:active {
  opacity: 0.3;
}

.page-control:hover {
  background-color: var(--basic-grey-gainsboro);
}

.page-control:active {
  background-color: var(--basic-grey-gainsboro);
}

.main-footer {
  background-color: var(--basic-dark);
  color: var(--basic-white);
  padding-top: 31px;
  padding-bottom: 40px;
}

.footer-inner {
  /*Grid*/
  display: grid;
  grid-template-rows: auto auto;
}

.footer-row-first {
  margin-bottom: 36px;
  /*Flex*/
  display: flex;
  justify-content: space-between;
}

.footer-row-first .main-logo {
  margin-top: 33px;
}

.footer-row-second {
  /*Grid*/
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
}

.footer-row-second a {
  color: var(--basic-white);
}

.address {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.address:after {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 80px;
  height: 7px;
  background-color: var(--special-yellow-dark);
  margin-top: 80px;
}

.footer-column-first {
  /*Flex*/
  display: flex;
  flex-direction: column;
}

.footer-column-second {
  /*Flex*/
  display: flex;
  flex-direction: column;
}

.footer-column-last {
  /*Flex*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-main-menu {
  margin-bottom: 0;
  margin-top: 15px;
  /*Flex*/
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
}

.footer-main-menu li {
  text-align: right;
}

.footer-main-menu li:not(:last-child) {
  margin-right: 42px;
}

/*perfect pixel разные отступы между элементами*/
.footer-main-menu li:first-child {
  margin-right: 41px;
}

/*perfect pixel разные отступы между элементами*/
.footer-main-menu li:nth-child(2) {
  margin-right: 43px;
}

.footer-main-menu a {
  color: rgba(var(--basic-white-rgb), 0.7);
}

.footer-menu-link:not(.user-name):hover {
  color: var(--basic-white);
}

.footer-menu-link:not(.user-name):hover svg {
  opacity: 0.6;
}

.footer-menu-link:not(.user-name):active {
  color: rgba(var(--basic-white-rgb), 0.3);
}

.footer-menu-link:not(.user-name):active svg {
  opacity: 0.3;
}

.footer-nav-columns {
  margin: 0;
  padding: 0;
  margin-bottom: 66px;
  width: 424px;
  /*Flex*/
  display: flex;
  justify-content: space-between;
}

.footer-nav-columns a {
  color: var(--basic-white);
}

.footer-nav-columns a:hover {
  color: rgba(var(--basic-white-rgb), 0.6);
}

.footer-nav-columns a:active {
  color: rgba(var(--basic-white-rgb), 0.3);
}

.footer-nav-columns li:not(:last-child) {
  margin-right: 33px;
}

.social {
  margin: 0;
  padding: 0;
  width: 136px;
  /*Flex*/
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.social a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: inline-block;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.social-facebook {
  background-image: url("../img/icon_facebook.svg");
}

.social-instagram {
  background-image: url("../img/icon_instagram.svg");
}

.social-twitter {
  background-image: url("../img/icon_witter.svg");
}

.social a:hover {
  opacity: 0.6;
}

.social a:active {
  opacity: 0.1;
}

.contact-phone {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.copyright:hover {
  opacity: 0.6;
}

.copyright:active {
  opacity: 0.3;
}
